// This file was generated for Start Bootstrap Material Admin Pro
// https://startbootstrap.com/theme/material-admin-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #9cc3d5;
$secondary: #0063b2;
$success: #00ac69;
$danger: #e81500;
$warning: #f4a100;
$info: #00cfd5;
